fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings

langchain
chroma
openai

json_repair
huggingface_hub

transformers
accelerate
safetensors

torch

--extra-index-url https://download.pytorch.org/whl/cu121